[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
m2r = "*"
pytest = "*"

[packages]
exifread = "*"
xmltodict = "*"
imgparse = {editable = true,path = "."}
pandas = "*"

[requires]
python_version = "3.6"
